Nama : Ferli Malkan Amien <br>
NPM  : 2117051050 <br>
Kelas: C <br>
Link : https://colab.research.google.com/drive/1QdCl3C5uei9ZMpQ8sxBtoV0ITlsAumc7?usp=sharing

# Pertemuan 2

## Library



*   Install Library
*   Deklarasi Library
*   Library bisa disebut sebagai kumpulan kode yang dapat digunakan berulang kali dalam program yang berbeda
*   https://www.geeksforgeeks.org/libraries-in-python/

In [ ]:
# install library mixtend
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [ ]:
import pandas as pd
import numpy as np
# import apriori from library mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

## Dataset
*   Membuat dataset transaksi sebagai dataframe
*   Cek dataset transaksi

In [ ]:
# membuat data tabular yang terdiri dari data transaksi
df = pd.DataFrame(
    {
        "ID Transaksi" : pd.Series([1, 2, 3, 4, 5]),
        "Item" : pd.Series([["Susu", "Roti", "Biskuit", "Mentega"], \
                            ["Susu", "Biskuit", "Gula", "Kopi"], \
                            ["Gula", "Kopi", "Susu"], ["Kopi", "Biskuit", "Susu", "Gula"], \
                            ["Mentega", "Roti", "Kopi"]])
    }
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  5 non-null      int64
 1   Item          5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [ ]:
df

   ID Transaksi                            Item
0             1  [Susu, Roti, Biskuit, Mentega]
1             2     [Susu, Biskuit, Gula, Kopi]
2             3              [Gula, Kopi, Susu]
3             4     [Kopi, Biskuit, Susu, Gula]
4             5           [Mentega, Roti, Kopi]

## Encoding data transaksi

In [ ]:
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     Kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [ ]:
basket = (df.groupby(['ID Transaksi', 'Item'])['Item'].count()\
          .unstack().reset_index().fillna(0)\
          .set_index('ID Transaksi'))

basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0
2                 1.0   1.0   1.0      0.0   0.0   1.0
3                 0.0   1.0   1.0      0.0   0.0   1.0
4                 1.0   1.0   1.0      0.0   0.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0

## Algoritma Apriori
Eksekusi algoritma apriori menggunakan library mlextend dengan fungsi apriori

### Apriori Tahap 1
Eliminasi itemset berdasarkan minimum support

In [ ]:
# set minimum support 60%
frequent_itemsets = apriori(basket, min_support=0.6, use_colnames=True)
# print(list(frequent_itemsets))
frequent_itemsets

   support            itemsets
0      0.6           (Biskuit)
1      0.6              (Gula)
2      0.8              (Kopi)
3      0.8              (Susu)
4      0.6     (Biskuit, Susu)
5      0.6        (Gula, Kopi)
6      0.6        (Susu, Gula)
7      0.6        (Susu, Kopi)
8      0.6  (Susu, Gula, Kopi)

### Apriori Tahap 2
Perhitungan confidence

In [ ]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules[["antecedents", "consequents", "support", "confidence"]]

     antecedents   consequents  support  confidence
0      (Biskuit)        (Susu)      0.6        1.00
1         (Susu)     (Biskuit)      0.6        0.75
2         (Gula)        (Kopi)      0.6        1.00
3         (Kopi)        (Gula)      0.6        0.75
4         (Susu)        (Gula)      0.6        0.75
5         (Gula)        (Susu)      0.6        1.00
6         (Susu)        (Kopi)      0.6        0.75
7         (Kopi)        (Susu)      0.6        0.75
8   (Susu, Gula)        (Kopi)      0.6        1.00
9   (Susu, Kopi)        (Gula)      0.6        1.00
10  (Gula, Kopi)        (Susu)      0.6        1.00
11        (Susu)  (Gula, Kopi)      0.6        0.75
12        (Gula)  (Susu, Kopi)      0.6        1.00
13        (Kopi)  (Susu, Gula)      0.6        0.75

# Tugas Tambahan

## 1. Menggunakan data yang sama, selesai kasus apriori ini dengan minimum support 40%

### Apriori tahap 1

In [ ]:
# set minimum support 40%
frequent_itemsets = apriori(basket, min_support=0.4, use_colnames=True)
# print(list(frequent_itemsets))
frequent_itemsets

    support                     itemsets
0       0.6                    (Biskuit)
1       0.6                       (Gula)
2       0.8                       (Kopi)
3       0.4                    (Mentega)
4       0.4                       (Roti)
5       0.8                       (Susu)
6       0.4              (Biskuit, Gula)
7       0.4              (Biskuit, Kopi)
8       0.6              (Biskuit, Susu)
9       0.6                 (Gula, Kopi)
10      0.6                 (Susu, Gula)
11      0.6                 (Susu, Kopi)
12      0.4              (Roti, Mentega)
13      0.4        (Biskuit, Gula, Kopi)
14      0.4        (Biskuit, Susu, Gula)
15      0.4        (Biskuit, Susu, Kopi)
16      0.6           (Susu, Gula, Kopi)
17      0.4  (Biskuit, Susu, Gula, Kopi)

### Apriori tahap 2

In [ ]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules[["antecedents", "consequents", "support", "confidence"]]

              antecedents            consequents  support  confidence
0               (Biskuit)                 (Gula)      0.4    0.666667
1                  (Gula)              (Biskuit)      0.4    0.666667
2               (Biskuit)                 (Kopi)      0.4    0.666667
3               (Biskuit)                 (Susu)      0.6    1.000000
4                  (Susu)              (Biskuit)      0.6    0.750000
5                  (Gula)                 (Kopi)      0.6    1.000000
6                  (Kopi)                 (Gula)      0.6    0.750000
7                  (Susu)                 (Gula)      0.6    0.750000
8                  (Gula)                 (Susu)      0.6    1.000000
9                  (Susu)                 (Kopi)      0.6    0.750000
10                 (Kopi)                 (Susu)      0.6    0.750000
11                 (Roti)              (Mentega)      0.4    1.000000
12              (Mentega)                 (Roti)      0.4    1.000000
13        (Biskuit, Gula)                 (Kopi)      0.4    1.000000
14        (Biskuit, Kopi)                 (Gula)      0.4    1.000000
15           (Gula, Kopi)              (Biskuit)      0.4    0.666667
16              (Biskuit)           (Gula, Kopi)      0.4    0.666667
17                 (Gula)        (Biskuit, Kopi)      0.4    0.666667
18        (Biskuit, Susu)                 (Gula)      0.4    0.666667
19        (Biskuit, Gula)                 (Susu)      0.4    1.000000
20           (Susu, Gula)              (Biskuit)      0.4    0.666667
21              (Biskuit)           (Susu, Gula)      0.4    0.666667
22                 (Gula)        (Biskuit, Susu)      0.4    0.666667
23        (Biskuit, Susu)                 (Kopi)      0.4    0.666667
24        (Biskuit, Kopi)                 (Susu)      0.4    1.000000
25           (Susu, Kopi)              (Biskuit)      0.4    0.666667
26              (Biskuit)           (Susu, Kopi)      0.4    0.666667
27           (Susu, Gula)                 (Kopi)      0.6    1.000000
28           (Susu, Kopi)                 (Gula)      0.6    1.000000
29           (Gula, Kopi)                 (Susu)      0.6    1.000000
30                 (Susu)           (Gula, Kopi)      0.6    0.750000
31                 (Gula)           (Susu, Kopi)      0.6    1.000000
32                 (Kopi)           (Susu, Gula)      0.6    0.750000
33  (Biskuit, Susu, Gula)                 (Kopi)      0.4    1.000000
34  (Biskuit, Susu, Kopi)                 (Gula)      0.4    1.000000
35  (Biskuit, Gula, Kopi)                 (Susu)      0.4    1.000000
36     (Susu, Gula, Kopi)              (Biskuit)      0.4    0.666667
37        (Biskuit, Susu)           (Gula, Kopi)      0.4    0.666667
38        (Biskuit, Gula)           (Susu, Kopi)      0.4    1.000000
39        (Biskuit, Kopi)           (Susu, Gula)      0.4    1.000000
40           (Susu, Gula)        (Biskuit, Kopi)      0.4    0.666667
41           (Susu, Kopi)        (Biskuit, Gula)      0.4    0.666667
42           (Gula, Kopi)        (Biskuit, Susu)      0.4    0.666667
43              (Biskuit)     (Susu, Gula, Kopi)      0.4    0.666667
44                 (Gula)  (Biskuit, Susu, Kopi)      0.4    0.666667

## 2. Buat penyelesaian apriori menggunakan fungsi manual, atau fungsi yang dibuat sendiri tidak menggunakan library (bonus)

In [ ]:
def load_dataset():
    # Dataset dari soal sebelumnya
    dataset = [
        {'bread', 'milk', 'cheese'},
        {'bread', 'milk', 'diapers', 'beer'},
        {'bread', 'diapers', 'beer', 'eggs'},
        {'milk', 'diapers', 'beer', 'cheese'},
        {'bread', 'milk', 'diapers', 'beer', 'cheese'},
    ]
    return dataset

def create_itemsets(dataset):
    # Buat sebuah list dari semua item unik di dalam dataset
    items = set()
    for transaction in dataset:
        for item in transaction:
            items.add(frozenset([item]))
    return items

def calculate_support(dataset, itemsets, min_support):
    # Hitung suppor dari masing masing itemset
    support = {}
    num_transactions = float(len(dataset))
    for itemset in itemsets:
        count = 0
        for transaction in dataset:
            if itemset.issubset(transaction):
                count += 1
        support[itemset] = count / num_transactions
    # Filter itemset dengan support yang kurang dari min_support
    support = {itemset: support[itemset] for itemset in support if support[itemset] >= min_support}
    return support

def create_candidates(itemsets, k):
    # Buat sebuah list kandidat itemsets dengan ukuran k
    candidates = set()
    for itemset1 in itemsets:
        for itemset2 in itemsets:
            if len(itemset1.union(itemset2)) == k:
                candidates.add(itemset1.union(itemset2))
    return candidates

def apriori(dataset, min_support):
    # Generate frequent itemsets menggunkakan algoritma apriori
    itemsets = create_itemsets(dataset)
    support = calculate_support(dataset, itemsets, min_support)
    frequent_itemsets = [itemsets]
    k = 2
    while len(frequent_itemsets[k-2]) > 0:
        candidates = create_candidates(frequent_itemsets[k-2], k)
        itemsets = calculate_support(dataset, candidates, min_support)
        frequent_itemsets.append(itemsets)
        k += 1
    return frequent_itemsets

# Eksekusi Program
dataset = load_dataset()
frequent_itemsets = apriori(dataset, 0.4)
for k, itemsets in enumerate(frequent_itemsets):
    print("Frekuensi itemsets untuk size {}:{}".format(k+1, itemsets))

Frekuensi itemsets untuk size 1:{frozenset({'Mentega'}), frozenset({'Susu'}), frozenset({'Biskuit'}), frozenset({'Gula'}), frozenset({'Roti'}), frozenset({'Kopi'})}
Frekuensi itemsets untuk size 2:{frozenset({'Biskuit', 'Kopi'}): 0.4, frozenset({'Biskuit', 'Susu'}): 0.6, frozenset({'Susu', 'Gula'}): 0.6, frozenset({'Biskuit', 'Gula'}): 0.4, frozenset({'Susu', 'Kopi'}): 0.6, frozenset({'Gula', 'Kopi'}): 0.6, frozenset({'Roti', 'Mentega'}): 0.4}
Frekuensi itemsets untuk size 3:{frozenset({'Biskuit', 'Susu', 'Gula'}): 0.4, frozenset({'Biskuit', 'Gula', 'Kopi'}): 0.4, frozenset({'Biskuit', 'Susu', 'Kopi'}): 0.4, frozenset({'Susu', 'Gula', 'Kopi'}): 0.6}
Frekuensi itemsets untuk size 4:{frozenset({'Biskuit', 'Gula', 'Susu', 'Kopi'}): 0.4}
Frekuensi itemsets untuk size 5:{}